.introBox {
  height: 60vh;
  background: var(--bg-head);
  p {
    padding-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    color: white;
    font-family: var(--default-font);
    font-size: 56px;
    font-weight: 500;
  }
  .intro {
    padding-top: 10vh;
  }
  .by {
    padding-top: 0;
    font-size: 32px;
    margin-top: 5vh;
  }
  .pdf {
    margin-left: 15vw;
  }
  button {
    margin-right: 2vw;
    margin-top: 5vh;
  }
  .pdf,
  .seePdf,
  .github {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .introBox {
    display: flex;
    flex-direction: column;
    height: 40vh;
    p {
      margin-left: 5vw;
      font-size: 14px;
    }
    .intro {
      padding-top: 1vh;
      text-align: center;
    }
    .by {
      text-align: center;
      margin-top: 0;
      font-size: 14px;
    }
    .pdf,
    .seePdf,
    .github {
      font-size: 14px;
      margin-top: 1vh;
      margin-left: 0;
    }
    .buttonBox {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
