footer {
  height: 20vh;
  background: var(--bg-head);
  color: white;
  font-family: var(--default-font);

  h1,
  p,
  div {
    padding-left: 15vw;
  }

  button {
    margin-right: 2vw;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    height: 20vh;
    font-size: 14px;
    button {
      display: none;
    }
  }
}
