@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@100;400;500;700&display=swap");

:root {
  --default-font: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --bg-head: linear-gradient(to right, #e65c00, #f9d423);
  --head-txt-col: white;
}
h1 {
  font-size: 32px;
  font-family: var(--default-font);
  font-weight: 700;
}
